<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <script src="js/echarts.min.js"></script>

    <script type="text/javascript" src="./vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./iview.css">
    <script type="text/javascript" src="./iview.min.js"></script>
    <link rel="stylesheet" href="./jquery-ui.css">
    <script src="./jquery-1.9.1.js"></script>
    <script src="./jquery-ui.js"></script>


    <script src="js/mobiscroll_002.js" type="text/javascript"></script>
    <script src="js/mobiscroll_004.js" type="text/javascript"></script>
    <link href="css/mobiscroll_002.css" rel="stylesheet" type="text/css">
    <link href="css/mobiscroll.css" rel="stylesheet" type="text/css">
    <script src="js/mobiscroll.js" type="text/javascript"></script>
    <script src="js/mobiscroll_003.js" type="text/javascript"></script>
    <script src="js/mobiscroll_005.js" type="text/javascript"></script>
    <link href="css/mobiscroll_003.css" rel="stylesheet" type="text/css">


</head>

<style type="text/css">
    body {
        padding: 0;
        margin: 0;
        font-family: arial, verdana, sans-serif;
        font-size: 12px;
        background: #ddd;
    }
    input, select {
        width: 11%;
        padding: 5px;
        margin: 5px 0;
        border: 1px solid #aaa;
        box-sizing: border-box;
        border-radius: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -webkit-border-radius: 5px;
    }

</style>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="app">
    type1:<select id="selectMonitor" v-model="couponSelected">
        <option v-for="option in options" :value="option.MONITOR_CON_PARA_ID">
            {{ option.PARA_SERVICENAME }}
        </option>
    </select>
    <label style="margin-left: 100px;" for="from">从</label>
    <input type="text" id="from" name="from">
    <label for="to">到</label>
    <input type="text" id="to" name="to">

</div>
<div id="app2">
    type2:<select id="selectMonitor2" v-model="couponSelected2">
        <option v-for="option in options" :value="option.MONITOR_CON_PARA_ID">
            {{ option.PARA_SERVICENAME }}
        </option>
    </select>
    <label style="margin-left: 100px;" for="from1">从</label>
    <input type="text" id="from1" name="from1">
    <label for="to1">到</label>
    <input type="text" id="to1" name="to1">

    <input type="button" id="query" onclick="init();"  value="查询">
</div>
    <!--<span>Selected: {{ couponSelected }}</span>-->



<div id="main" style="height:400px"></div>
<!-- ECharts单文件引入 -->

<script type="text/javascript">


</script>
<script type="text/javascript">

    var app = new Vue({
        el: '#app',
        data: {
            //selected: 'A',
            options: [
                { text: '全部监控列表', value: 'A' }
            ],
            couponSelected: ''
        }
    })
    var app2 = new Vue({
        el: '#app2',
        data: {
            //selected: 'A',
            options: [
                { text: '全部监控列表', value: 'A' }
            ],
            couponSelected2: ''
        }
    })


    $(function() {
        var currYear = (new Date()).getFullYear();
        var opt={};
        opt.date = {preset : 'date'};
        opt.datetime = {preset : 'datetime'};
        opt.time = {preset : 'time'};
        opt.default = {
            theme: 'android-ics light', //皮肤样式
            display: 'modal', //显示方式
            mode: 'scroller', //日期选择模式
            dateFormat: 'yy-mm-dd',
            lang: 'zh',
            showNow: true,
            nowText: "今天",
            startYear: currYear - 30, //开始年份
            endYear: currYear + 30 //结束年份
        };

        var optDateTime = $.extend(opt['datetime'], opt['default']);
        $("#from").mobiscroll(optDateTime).datetime(optDateTime);
        $("#to").mobiscroll(optDateTime).datetime(optDateTime);
        $("#from1").mobiscroll(optDateTime).datetime(optDateTime);
        $("#to1").mobiscroll(optDateTime).datetime(optDateTime);
        $.ajax({
            url:"/monitor/getMonitors",
            type:"get",
            data: {
                //from: fromval,
                //to: toval,
                //pageIndex :1
            },
            dataType:"json",
            success:function(response){
                var selectList = response.selectList;
                app.$data.options=selectList;
                app.$data.couponSelected=selectList[0].MONITOR_CON_PARA_ID;
                app2.$data.options=selectList;
                app2.$data.couponSelected2=selectList[0].MONITOR_CON_PARA_ID;
                init();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
            },
            beforeSend:function(XMLHttpRequest){
            },
            complete:function(XMLHttpRequest,textStatus){
            }
        })



    });

    function init() {
        var monitorId1 = app.$data.couponSelected;
        var monitorId2 = app2.$data.couponSelected2;
        // 基于准备好的dom，初始化echarts图表
        var myChart = echarts.init(document.getElementById('main'));
        $.ajax({
            url: "/monitor/getEcharts",
            type: "post",
            data: {
                from: $( "#from" ).val(),
                to: $( "#to" ).val(),
                monitorId : monitorId1
            },
            dataType: "json",
            cache:false,
            traditional:true,
            success: function (response) {
                $( "#from" ).val(response.from);
                $( "#to" ).val(response.to);
                var resName = response.resName;
                var xAxisList = response.xAxisList;
                var seriesList = response.seriesList;
                if(resName==null||resName==""){
                    $( "#from1" ).val(response.from1);
                    $( "#to1" ).val(response.to1);
                    init();
                }
                if(resName!=null&&resName!=""){
                    $.ajax({
                        url: "/monitor/getEcharts",
                        type: "post",
                        data: {
                            from: $( "#from1" ).val(),
                            to: $( "#to1" ).val(),
                            monitorId : monitorId2
                        },
                        dataType: "json",
                        cache:false,
                        traditional:true,
                        success: function (response) {
//                            $( "#from1" ).val(response.from1);
//                            $( "#to1" ).val(response.to1);
                            var resName1 = response.resName;
                            var xAxisList1 = response.xAxisList;
                            var seriesList1 = response.seriesList;
                            option = {
                                title : {
                                    text: $("#selectMonitor option:selected").text()
                                },
                                tooltip : {
                                    trigger: 'axis'
                                },
                                legend: {
                                    data:[resName,resName1]
                                },
                                toolbox: {
                                    show : true,
                                    feature : {
                                        mark : {show: true},
                                        dataView : {show: true, readOnly: false},
                                        magicType : {show: true, type: ['line', 'bar']},
                                        restore : {show: true},
                                        saveAsImage : {show: true}
                                    }
                                },
                                calculable : true,
                                xAxis : [
                                    {
                                        type : 'category',
                                        data : xAxisList
                                    }
                                ],
                                yAxis : [
                                    {
                                        type : 'value'
                                    }
                                ],
                                series : [
                                    {
                                        name:resName,
                                        type:'bar',
                                        data:seriesList,
                                        markPoint : {
                                            data : [
                                                {type : 'max', name: '最大值'},
                                                {type : 'min', name: '最小值'}
                                            ]
                                        },
                                        markLine : {
                                            data : [
                                                {type : 'average', name: '平均值'}
                                            ]
                                        }
                                    },
                                    {
                                        name:resName1,
                                        type:'bar',
                                        data:seriesList1,
                                        markPoint : {
//                                            data : [
//                                                {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
//                                                {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
//                                            ]
                                            data : [
                                                {type : 'max', name: '最大值'},
                                                {type : 'min', name: '最小值'}
                                            ]
                                        },
                                        markLine : {
                                            data : [
                                                {type : 'average', name : '平均值'}
                                            ]
                                        }
                                    }
                                ]
                            };


                            // 为echarts对象加载数据
                            myChart.setOption(option);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                        },
                        beforeSend: function (XMLHttpRequest) {
                        },
                        complete: function (XMLHttpRequest, textStatus) {
                        }
                    })
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            },
            beforeSend: function (XMLHttpRequest) {
            },
            complete: function (XMLHttpRequest, textStatus) {
            }
        })

    }
</script>
</body>